<form [formGroup]="registerForm" (ngSubmit)="register()" class="formbackground">
<div class="container formbackground">
  <div class="form-group formbackground required">
      <label class="control-label x" ><b>Do you live/work in Canary Wharf ? </b> </label>
      <label class="radio-inline" style="font:bold;color:white" >
        <input class="mr-1" 
         type="radio" 
        value="YES"
        placeholder="gender"
        [(ngModel)]="gender"
        formControlName="gender">
        <label class="control-label"> <b> YES </b></label>  
      </label>
    
      <label class="radio-inline ml-1" style="font:bold; color:white">
        <input class="mr-1"  type="radio" value="NO" [(ngModel)]="gender" formControlName="gender">
        <label class="control-label"> <b> NO </b></label>  
      </label>
     
    </div>
    <div class="form-group required">
        <label class="control-label x"><b>Do you provide any business services ?</b> </label>
        <label class="radio-inline" style="font:bold;color:white" >
          <input class="mr-1"   type="radio" value="YES" [(ngModel)]="business" formControlName="business">
          <label class="control-label"> <b> YES </b></label>  
        </label>
        <label class="radio-inline ml-1" style="font:bold; color:white">
          <input class="mr-1"  type="radio" value="NO" [(ngModel)]="business" formControlName="business"> <label class="control-label"> <b> NO</b></label>  
        </label>
        
        <input *ngIf="business=='YES'" class="form-control"
        placeholder="*(required) Business Name"  formControlName="businessName" type="text">
        <input *ngIf="business=='YES'" class="form-control"
        placeholder="*(required)  Business Purpose and years of experience"   formControlName="businessPurpose" type="text">
       
        <hr>
        <label *ngIf="business=='YES'" class="x"></label>
        <label *ngIf="business=='YES'" class="radio-inline ml-3" style="font:bold;color:white" >
          <input class="mr-1"   type="radio" value="Plumber"  [(ngModel)]="busCategory" formControlName="busCategory">
          <label class="control-label"> <b> Plumber </b></label>  
        </label>
        <label *ngIf="business=='YES'" class="radio-inline ml-3" style="font:bold; color:white">
          <input class="mr-1"  type="radio" value="Electrician"  [(ngModel)]="busCategory"  formControlName="busCategory"> <label class="control-label"> <b> Electrician</b></label> 
        </label>
        <label *ngIf="business=='YES'" class="radio-inline ml-3" style="font:bold; color:white">
          <input class="mr-1"  type="radio" value="Cleaner"  [(ngModel)]="busCategory" formControlName="busCategory"> <label class="control-label"> <b>House Cleaner</b></label>
        </label>
        <label *ngIf="business=='YES'" class="radio-inline ml-3" style="font:bold; color:white">
          <input class="mr-1"  type="radio" value="Nanny"  [(ngModel)]="busCategory" formControlName="busCategory"> <label class="control-label"> <b> Nanny</b></label>
        </label>
        <label *ngIf="business=='YES'" class="radio-inline ml-3" style="font:bold; color:white">
          <input class="mr-1"  type="radio" value="Carpenter"  [(ngModel)]="busCategory" formControlName="busCategory"> <label class="control-label"> <b> Carpenter</b></label>
        </label>
        <label *ngIf="business=='YES'" class="radio-inline ml-3" style="font:bold; color:white">
          <input class="mr-1"  type="radio" value="Massage"  [(ngModel)]="busCategory" formControlName="busCategory"> <label class="control-label"> <b> Massage Services</b></label>
        </label>
        <label *ngIf="business=='YES'" class="radio-inline ml-3" style="font:bold; color:white">
          <input class="mr-1"  type="radio" value="Dietician"  [(ngModel)]="busCategory" formControlName="busCategory"> <label class="control-label"> <b> Dietician</b></label>
        </label>
        <label *ngIf="business=='YES'" class="radio-inline ml-3" style="font:bold; color:white">
            <input class="mr-1"  type="radio" value="Handyman"  [(ngModel)]="busCategory" formControlName="busCategory"> <label class="control-label"> <b> Handyman-Handywoman</b></label>
          </label>
        <label *ngIf="business=='YES'" class="radio-inline ml-3" style="font:bold; color:white">
          <input class="mr-1"  type="radio" value="Other" [(ngModel)]="busCategory" formControlName="busCategory"> <label class="control-label"> <b> Other(or multiple service(s) provided)</b></label>
          <input *ngIf="business=='YES' && busCategory=='Other'" class="form-control"
          placeholder="Explain the service(s) provided" [(ngModel)]="busExplain" formControlName="busExplain" type="text">
        </label>
       

      
    </div>
    <!-- <div class="form-group">
      <label class="control-label"><b>Do you own your flat/house ?</b> </label>
      <label class="radio-inline" style="font:bold;color:white" >
        <input class="mr-3" style="margin-right:10px;"  type="radio" value="YES" formControlName="l39">
        <label class="control-label"> <b> YES </b></label>  
      </label>
      <label class="radio-inline ml-3" style="font:bold; color:white">
        <input class="mr-3"  type="radio" value="NO" formControlName="l39"> <label class="control-label"> <b> NO</b></label>  
      </label>
    </div> -->

    <!-- <div class="form-group">
        <label class="control-label"> <b>My Block</b></label>
        <select formControlName="chessLevel" (change)="selectChangeHandler($event)"> -->
            <!-- <option  *ngFor="let level of chessLevels" [value]="level">{{level}}</option> -->
            <!-- <option   value=""> </option>
            <option   value="charrington">Charrington</option>
            <option  value='jessop'>Jessop</option>
            <option  value='michigan'>Michigan</option>
            <option  value='ontario'>Ontario</option>
            <option  value='columbia west'>Columbia West</option>
            <option  value='npw block a'>NPW Block A</option>
            <option  value='npw block b'>NPW Block B</option>
            <option  value='npw block c'>NPW Block C</option>
            <option  value='npw block d'>NPW Block D</option>
            <option  value='npw block e'>NPW Block E</option>
            <option  value='other'>Other</option>
          </select>
    </div>
   -->
  <div class="form-group required x">
     
    <input type="text" 
      [ngClass]="{'is-invalid': registerForm.get('username').errors 
        && registerForm.get('username').touched}"
      class="form-control" 
      formControlName="username" 
      placeholder="*(required)  Username">
    <div class="invalid-feedback"><b>Please choose a username</b></div>
  </div>

  <div class="form-group">
      <input [ngClass]="{'is-invalid': registerForm.get('knownAs').errors && registerForm.get('knownAs').touched}" class="form-control"
        placeholder="*(required)  Name" formControlName="knownAs">
      <div class="invalid-feedback" *ngIf="registerForm.get('knownAs').touched && registerForm.get('knownAs').hasError('required')"><b>Known as is required</b></div>
    </div>

    <div class="form-group">
        <input [ngClass]="{'is-invalid': registerForm.get('dateOfBirth').errors && registerForm.get('dateOfBirth').touched}" class="form-control"
          placeholder="*(required)  Date of Birth" formControlName="dateOfBirth" type="text" bsDatepicker [bsConfig]="bsConfig">
        <div class="invalid-feedback" *ngIf="registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').hasError('required')"><b>Date of Birth is required</b></div>
      </div>

      <div class="form-group">
          <input [ngClass]="{'is-invalid': registerForm.get('city').errors && registerForm.get('city').touched}" class="form-control"
            placeholder="*(required)  Email" formControlName="city">
          <div class="invalid-feedback" *ngIf="registerForm.get('city').touched && registerForm.get('city').hasError('email')"><b>Email is needed !</b></div>
        </div>
      
        <div class="form-group">
          <input  class="form-control"
            placeholder="WhatsApp" formControlName="country" type="number">
            <!-- <div class="invalid-feedback" 
            *ngIf="registerForm.get('country').hasError('required') 
              && registerForm.get('country').touched">
              WhatsApp is needed !
          </div> -->
          <div class="invalid-feedback" 
          *ngIf="registerForm.get('country').hasError('pattern') 
            && registerForm.get('country').touched">
            WhatsApp needs to be a phone number !
        </div>
        </div>

        <div class="form-group">
            <input class="form-control" placeholder="Instagram" formControlName="inst">
          </div>
          <div class="form-group">
              <input class="form-control" placeholder="twitter" formControlName="twit">
            </div>

            <div class="form-group">
                <input class="form-control" placeholder="facebook" formControlName="face">
              </div>    
  <div class="form-group">
    <input type="password" 
      [ngClass]="{'is-invalid': registerForm.get('password').errors 
        && registerForm.get('password').touched}"
      class="form-control" 
      formControlName="password" 
      placeholder="*(required)  Password">
      <div class="invalid-feedback" 
        *ngIf="registerForm.get('password').hasError('required') 
          && registerForm.get('password').touched">
          Password is required
      </div>
      <div class="invalid-feedback" 
      *ngIf="registerForm.get('password').hasError('minlength') 
        && registerForm.get('password').touched">
        Password must be at least 6 characters
    </div>
    <!-- <div class="invalid-feedback" 
    *ngIf="registerForm.get('password').hasError('maxlength') 
      && registerForm.get('password').touched">
      Password cannot exceed 8 characters
  </div> -->
  <!-- <div class="invalid-feedback" 
    *ngIf="registerForm.get('password').hasError('pattern') 
      && registerForm.get('password').touched">
      Password must contain spread letters and numbers 
  </div> -->
  </div>

  <div class="form-group formbackground">
      <input 
        [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors 
          && registerForm.get('confirmPassword').touched
          || registerForm.get('confirmPassword').touched
          && registerForm.hasError('mismatch')}"
        type="password" 
        class="form-control" 
        formControlName="confirmPassword" 
        placeholder="*(required)  Confirm Password">
        <div class="invalid-feedback" 
        *ngIf="registerForm.get('confirmPassword').hasError('required') 
          && registerForm.get('confirmPassword').touched">
          Confirm Password is required
      </div>
      <div class="invalid-feedback" 
      *ngIf="registerForm.hasError('mismatch') 
        && registerForm.get('confirmPassword').touched">
        Passwords must match
    </div>
  </div>
  <div class="form-group text-center">
    <button class="btn btn-success " [disabled]="!registerForm.valid" type="submit">Register</button>
    <!-- <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button> -->
  </div>
</div>
</form>