<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-body bg-light">
        <div class="alert alert-success" *ngIf="isWarning">
          <a
            (click)="toggleWarning()"
            [routerLink]="['/news']"
            class="close"
            data-dismiss="alert"
            aria-label="close"
            >&times;</a
          >
          <div>&nbsp;</div>
          <b
            >We monitor the top and breaking news headlines and content from
            more than 100 different, most reliable, mainstream news sources and
            more than 30K influencers empowering you to follow what you are
            interested in most by keyword search feature!
          </b>
        </div>
        <div class="alert alert-success" *ngIf="isAnotherWarning">
          <a
            (click)="toggleAnotherWarning()"
            [routerLink]="['/news']"
            class="close"
            data-dismiss="alert"
            aria-label="close"
            >&times;</a
          >
          <div>&nbsp;</div>
          <b
            >We aim to provide latest news and search news up to seven days old.
            For more advanced search of older than seven days or For news with
            the 'phrase' of your choice mentioned delivered to you or even if
            you think you can be listed as news or organizing some events in
            canary wharf then please get in touch with our customized solutions
            team for more tailored solutions!- hello@canarywharf.space
          </b>
        </div>
        <h1 class="card-title text-center">Search Dashboard</h1>
        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
        <p class="card-text">
          <label for="news"><b style="color: #d4af37">Category </b></label>

          <select
            style="margin-left: 2%"
            id="news"
            (change)="onChange($event.target.value)"
            name="news"
          >
            <option value="Local">Canary Wharf Mentioned</option>
            <option value="Global">Global</option>
          </select>
        </p>
        <div class="container">
          <div class="row">
            <div class="input-group">
              <label for="news"
                ><b style="color: #d4af37">Search (in all News): </b></label
              >
              <input
                type="text"
                [(ngModel)]="newsphrase"
                class="form-control"
                style="min-width: 10em"
                placeholder="enter keyword"
                aria-label="Search Key"
                aria-describedby="basic-addon2"
              />
              <div class="input-group-append">
                <!-- <span class="input-group-text" id="basic-addon2"
                  >i.e 'Trump'
                </span> -->
                <span>&nbsp;&nbsp;&nbsp;</span>
              </div>
              <button
                type="button"
                (click)="getCustomNews(newsphrase)"
                [disabled]="!newsphrase"
                class="btn btn-success"
                style="color: #d4af37"
              >
                Search
              </button>
            </div>
          </div>
        </div>

        <!-- <a  [routerLink]="['/home']" class="card-link">Home Page</a>
          <a  [routerLink]="['/members']" class="card-link">Members Lounge</a> -->
      </div>
    </div>
  </div>

  <!-- <p class="text-center text-uppercase" style="background: orangered">news</p> -->

  <div class="container">
    <div class="row">
      <div class="card" *ngFor="let article of news?.articles">
        <div *ngIf="article?.urlToImage?.startsWith('https')">
          <img
            class="card-img-top"
            src="{{ article.urlToImage }}"
            alt="Card image cap"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">
            {{ article.title }} - {{ article.publishedAt | timeAgo }}
          </h5>
          <p class="card-text">{{ article.content }}.</p>
          <a
            href="{{ article.url }}"
            class="btn btn-primary"
            target="_blank"
            style="color: #d4af37"
            >Check on
            {{
              article.source.slice(
                article.source.indexOf('"name":"') + 8,
                article.source.indexOf('"}')
              )
            }}</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
