*.suo
storage.ide
.vs/CoreApplicationTest/v15/sqlite3/storage.ide
.vs/CoreApplicationTest/v15/.suo
*.cache
*.dll
*.exe
*.pdb
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp

