<div class="container mt-4">
  <div class="row">
    <h1 style="color:rgb(255, 38, 0)" >{{user.knownAs}}'s Profile</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{user.photoUrl || '../../../assets/user.png'}}" alt="{{user.knownAs}}">
        <div class="card-body">
          <div>
            <strong>Contact Details:</strong>
            <p *ngIf="user.inst!=''">Instagram :{{user.inst}}</p>
            <p *ngIf="user.twit!=''">Twitter: {{user.twit}}</p>
            <p  *ngIf="user.country!=''" >WhatsApp: {{user.country}}</p>
            <p  *ngIf="user.businessName!=''" >Company: {{user.businessName}}</p>
          </div>
          <div>
            <strong>Last Active:</strong>
            <p>{{user.lastActive | timeAgo}}</p>
          </div>
          <div>
            <strong>Member Since:</strong>
            <p>{{user.created | date: 'mediumDate'}}</p>
          </div>
      
          <div *ngIf="user.busCategory!=''">
              <strong>Sector</strong>
              <p>{{user.busCategory}}</p>
              <p *ngIf="user.busExplain!=''">{{user.busExplain}}</p>
            </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <!-- <button class="btn btn-primary w-100">Like</button> -->
            <button class="btn btn-success w-100" (click)="selectTab(3)">Message</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset" #memberTabs>
          <tab heading="About {{user.knownAs}}">
            <h4>Introduction</h4>
            <p>{{user.introduction}}</p>
            <h4>What can you give to and expect from club</h4>
            <p>{{user.lookingFor}}</p>
          </tab>
          <tab heading="Interests">
            <h4>Interests</h4>
            <p>{{user.interests}}</p>
          </tab>
          <tab heading="Photos">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </tab>
          <tab heading="Messages">
            <app-member-messages [receiverId]="user.id"></app-member-messages>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
